FACEBOOK_ID = #1
FACEBOOK_SECRET = #1
FACEBOOK_CALLBACK = http://localhost:3000/auth/facebook/callback #3
SESSION_SECRET = #2

#1 copy the project ID and secret from facebook development
#2 any string you like
#3 change domain while deploying